In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [42]:
dataset = pd.read_csv('data/train.csv')
testset = pd.read_csv('data/test.csv')
dataset.shape

(10000, 12)

In [43]:
testset.shape

(2000, 11)

In [ ]:
# dataset has 10000 rows and 12 columns
dataset.head()
# retrieves the first 5 records

In [ ]:
dataset.describe()

In [45]:
# separate the other attributes from the predicting attribute
x = dataset.drop(['Id','y'], axis=1)
y = dataset['y']
test = testset.drop('Id', axis=1)
x.shape
test.shape

(2000, 10)

In [ ]:
test

In [46]:
# creating an object of LinearRegression class
LR = LinearRegression()
LR.fit(x,y)
y_prediction = LR.predict(test)
prediction_results = pd.DataFrame(data=y_prediction,columns=['y'])
prediction_results

               y
0     -66.002423
1     451.406504
2    -461.676417
3      40.501209
4    -126.744722
...          ...
1995  464.715255
1996  496.485334
1997  -35.135409
1998 -131.679185
1999  417.269155

[2000 rows x 1 columns]

In [47]:
# Using DataFrame.insert() to add a column
prediction_results.insert(0, "Id", testset["Id"], True)
  
# Observe the result
prediction_results

         Id           y
0     10000  -66.002423
1     10001  451.406504
2     10002 -461.676417
3     10003   40.501209
4     10004 -126.744722
...     ...         ...
1995  11995  464.715255
1996  11996  496.485334
1997  11997  -35.135409
1998  11998 -131.679185
1999  11999  417.269155

[2000 rows x 2 columns]

In [50]:
prediction_results.to_csv('data/result_0.csv',index = False)