In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
cd /content/gdrive/MyDrive/ETH/AML/task1

/content/gdrive/MyDrive/ETH/AML/task1

In [3]:
import numpy as np
import pandas as pd

In [4]:
train_cvsx=pd.read_csv('X_train.csv',dtype=np.double)
train_x=train_cvsx.iloc[:,1:]

In [5]:
train_cvsx.iloc[0:3]

    id         x0             x1  ...          x829          x830           x831
0  0.0  10.891876  832442.812375  ...  1.036263e+06  85338.558539  103088.664210
1  1.0  11.512994  832442.898114  ...  1.007163e+06  95695.020645  105161.109422
2  2.0  11.052185  832442.896307  ...  1.019955e+06  80253.299882  104177.051666

[3 rows x 833 columns]

In [6]:
train_x.iloc[0:3]

          x0             x1  ...          x830           x831
0  10.891876  832442.812375  ...  85338.558539  103088.664210
1  11.512994  832442.898114  ...  95695.020645  105161.109422
2  11.052185  832442.896307  ...  80253.299882  104177.051666

[3 rows x 832 columns]

In [7]:
train_cvsy=pd.read_csv('y_train.csv',dtype=np.double)
train_y=train_cvsy.iloc[:,1:]

In [8]:
train_y.iloc[0:3]

      y
0  71.0
1  73.0
2  66.0

###preprocess
  #1.imputation of missing values
  ###scikit-learn KNN imputer
  #potential problem : sensitive to outlier
  # parameter adjust n_neighbors= xxx try  different # could

In [9]:
from sklearn.impute import KNNImputer

In [10]:

imputer = KNNImputer(n_neighbors=5, weights='uniform', metric='nan_euclidean')
train_xp=imputer.fit_transform(train_x)

In [11]:
train_xp=pd.DataFrame(train_xp)

In [ ]:
#df.isnull().sum()

#Outlier Detection
## isolation forest
 max_features, contamination, could try to reset 

you’ll generate the biggest performance boost by using a grid search technique with cross validation #todo

In [12]:
from sklearn.ensemble import IsolationForest

In [13]:
isofore=IsolationForest(n_estimators=50,max_features=10,max_samples='auto')
train_xppl=isofore.fit_predict(train_xp)
train_xpp=train_xp[(train_xppl!=-1)]
train_ypp=train_y[(train_xppl!=-1)]

In [14]:
train_ypp.shape

(1204, 1)

In [15]:
train_xpp.shape

(1204, 832)

In [16]:
train_y.shape

(1212, 1)

simluate train test split

In [17]:
xtrain=train_xpp.iloc[:700,:]
ytrain=train_ypp.iloc[:700,:]
xtest=train_xpp.iloc[700:1000,:]
ytest=train_ypp.iloc[700:1000,:]

#Feature selection 
As F-test captures only linear dependency, it rates x_1 as the most discriminative feature. On the other hand, mutual information can capture any kind of dependency between variables and it rates x_2 as the most discriminative feature, which probably agrees better with our intuitive perception for this example. Both methods correctly marks x_3 as irrelevant.

In [18]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_regression

In [19]:
selector = SelectKBest(score_func=mutual_info_regression, k=100)
selector.fit(xtrain,np.ravel(ytrain))
train_xppp=selector.transform(xtrain)
test_xp1p3=selector.transform(xtest)

In [20]:
test_xp1p3.shape

(300, 100)

 To identify the selected features we use get_support() function and filter out them from the features name list.

In [ ]:
filter = selector.get_support()

Regression

In [21]:
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.gaussian_process.kernels import RBF,DotProduct, ConstantKernel,WhiteKernel,Matern,RationalQuadratic

In [ ]:
## simulate test & train

In [38]:
kernel=RBF()+WhiteKernel()
gpr=gpr = GaussianProcessRegressor(kernel=kernel,alpha=1e-10, n_restarts_optimizer=2, normalize_y=True, copy_X_train=False, random_state=None)
#gpr.fit(train_xppp, ytrain)
gpr.fit(xtrain,ytrain)
#ypred=gpr.predict(test_xp1p3)
ypred=gpr.predict(xtest)

evaluation

In [32]:
from sklearn.metrics import r2_score

In [37]:
score=r2_score(ytest,ypred)
print(score)

-5.772605966658517e-05

In [ ]:
### test
from sklearn import model_selection
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(train_xp, train_y, test_size=0.3, random_state=1)
# scale the data using StandardScaler() so the various column values are on an even scale.
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
#X_train.shape

(848, 832)

grid search tuning hyperparameter

In [ ]:
model = IsolationForest(random_state=47)

param_grid = {'n_estimators': [1000, 1500], 
              'max_samples': [10], 
              'contamination': ['auto', 0.0001, 0.0002], 
              'max_features': [10, 15], 
              'bootstrap': [True], 
              'n_jobs': [-1]}

grid_search = model_selection.GridSearchCV(model, 
                                           param_grid,
                                           scoring="neg_mean_squared_error", 
                                           refit=True,
                                           cv=10, 
                                           return_train_score=True)
grid_search.fit(X_train, y_train)

best_model = grid_search.fit(X_train, y_train)
print('Optimum parameters', best_model.best_params_)